.mat-toolbar {
  background-color: #1976d2;
}

.iconGithub {
  margin-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 400px) {
  .title {
    margin-left: 50px;
   }
}

@media (max-width: 360px) {
  .title {
    display: none;
   }
}
